# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
*.egg-info/

# macOS
.DS_Store
.DS_Store?

# IDEs
.idea/
.vscode/

# Web (if applicable)
node_modules/
npm-debug.log
yarn-error.log
